
body{
    overflow-x: hidden;
    
}

#header__container{
    height: 100px;
    width: 100vw;   
    padding: 20px;
    box-shadow: 0px 1px 5px 0px #888888;   

}

.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.header__logo img{
    height: 61px;
    width: 61px;
    border-right: 2px solid rgba(35, 35, 77, 0.356);
}

.header__logo--text{
    text-transform: uppercase;
    color: #135487;
    font-weight: 700;
}

.header__logo--text strong{
    font-weight: 700;
    font-size: 13px;
}

.main{
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 50px;   
    max-width: 980px;
    margin-bottom: 50px;    
    padding: 40px;
    
}

.main h1{    
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    color: #135487;
}

.shortcuts__container{
    display: flex;
    justify-content: center;
}

.shortcuts__list{       
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 30px;
    
    
}

.shortcuts__list li {    
    min-width: 250px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding: 5px;
    border-radius: 10px;
    border: 1px solid transparent;
    
}

.shortcuts__list li:hover{
    border: 1px solid #135487;
    transition: 0.5s;
    border-radius: 10px;
    
}

.list__img{
    width: 200px;
    height: 80px;
    border-radius: 10px;    
}



.footer{
    height: 40px;
    background: #135487;
}


.description__container{
    margin-top: 8px;
}

.description__container p{
    font-weight: bold;
    text-align: center;
    color: #135487;
    font-size: 12px;
    
}